<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lmnml.group.dao.sys.VSystemUserMapper">
    <resultMap id="findSysList" type="java.util.Map">
        <id property="roleId" column="roleId"/>
        <result property="roleName" column="roleName"/>
        <collection property="modules" javaType="java.util.List" ofType="java.util.Map">
            <id property="moduleId" column="id"/>
            <result property="pid" column="pid"/>
            <result property="name" column="name"/>
            <result property="icon" column="icon"/>
            <result property="url" column="url"/>
        </collection>
    </resultMap>
</mapper>